/* Updated CSS with modifications */

.background-image {
  width: 100%;
  max-width: 586px;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #343a40;
  padding: 10px 0;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #f8f9fa;
}

.search-form {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.search-form input,
.search-form select,
.search-form button {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.search-form input,
.search-form select {
  flex: 1;
  margin-right: 10px;
}

.search-form button {
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form button:hover {
  background-color: #2980b9;
}
.warehouse-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 500px;
  overflow-y: auto;
  padding: 20px;
  justify-content: center; /* Center the cards horizontally */
  display: flex;
  
}

.warehouse-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: calc(33.33% - 20px);
  padding: 20px;

}

.warehouse-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 0 0 4px #3498db33; /* Adding a highlight */
}

.warehouse-card h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.warehouse-card p {
  color: #666;
  margin: 5px 0;
}

.card-image {
  max-height: 200px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 40px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-now-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 0px 9px 0px ;
 
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-now-button:hover {
  background-color: #2980b9;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    margin-top: 10px;
  }

  .navbar-item {
    margin: 5px 0;
  }
  
  .search-form {
    background-color: #f2f2f2;
    
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .search-form input,
  .search-form select,
  .search-form button {
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .search-form button {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-form button:hover {
    background-color: #2980b9;
  }
  
  .warehouse-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-height: 500px;
    overflow-y: auto;
    padding: 20px;
    width: 700px;
  }
  
  .warehouse-card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    
  }
  
  .warehouse-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .warehouse-card h3 {
    margin-top: 0;
  }
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-menu {
      margin-top: 10px;
    }
  
    .navbar-item {
      margin: 5px 0;
    }
  }
